name: test

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  unit-tests:
    name: unit tests (${{ matrix.os }}, node ${{ matrix.nodeVersion }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        nodeVersion: [17, 18, 19, 20, 21, 22]

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.nodeVersion }}
          cache: npm

      - name: Install
        run: npm ci

      - name: Run tests
        run: npm run test:all -- --run
